@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(253, 251, 251);
}

p, li {
    color: dimgray;
    font-size: 15px;
}

h1 {
    color: rgb(24, 83, 24);
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 50px;
    font-weight: 100;
}


header {
    height: 80px;
    padding-top: 30px;
  }
  
#cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: dimgray;
  }

main {
    margin-top: 150px;
}

#minha_foto {
    width: 300px;
    display: inline-block;
    margin-left: 30px;
}

#licoes_aprendidas {
    margin-left: 30px;

}

#licoes_a_aprender {
    margin-left: 30px;
    float: left;

}

#titulolista {
    color: rgb(37, 12, 107);
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 25px;
    font-weight: 50;
    margin-left: 30px;

}

  .ladodireito {
      float:right;
  }

  .ladoesquerdo {
      float:left;
  }