body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(253, 251, 251)
}

p, li {
    color:dimgray;
    font-size: 15px;
}

h1 {
    color:rgb(24, 83, 24);
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 50px;
    font-weight: 100;
}


header {
    height: 80px;
    padding-top: 30px;
  }
  
#cabecalho {
    position:fixed;
    top:0;
    width:100%;
    text-align:center;
    background-color:dimgray
  }

main {
    margin-top: 150px;
}

#minha_foto {
    width: 300px;
    display: inline-block;
    margin-left: 30px;
}